<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="5">

  <title>TailwindCSS Typography Testing</title>

  <link rel="stylesheet" href="/css/main.css?v=<%= @random %>">
  <script src="/htmx-1.9.5.js"></script>

</head>
<body>

  <header class="bg-slate-200 mb-10"><h1 class="text-lg p-6">Hello from index.html</h1></header>

  <article class="prose lg:prose-xl" hx-get="/sample.html?v=<%= @random %>" hx-trigger="load">
    Loading...
  </article>
  
</body>
</html>